# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
*.env
.env.local
.env.*.local

# Logs
*.log
error_log.txt
err.txt
err2.txt
err3.txt
backend/error_log.txt
backend/err.txt
backend/err2.txt
backend/err3.txt
